:root{
    --colorwhite: #edece9;
    --colorBrown: #775548;
    --colorOrange: #ef6d24;
    --colorYellow: #d8b03b;
    --fonts:Verdana, Arial, sans-serif;
}

body{
background-color: var(--colorwhite);
font-family: var(--fonts);
font-size: 16px;
color: var(--colorBrown);
}

/* HEADER */

img{
  width: 100vw;
  height: auto;
}

.navbar{
  display: flex;
  flex-wrap: wrap;
  align-items: center; 
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

nav a, nav p{
  color: var(--colorOrange);
  padding: 0 10px 0 0;
  margin: 5px 0 0 0;
}

/* MAIN */

main h1{
color: var(--colorBrown);    
font-size: 48px;
}

h2{
  background-color: var(--colorBrown);
  color: var(--colorwhite);
}

body h2:last-of-type{
    color: var(--colorYellow);
}

li a{
  color: var(--colorOrange);
  font-weight: bolder;
}

.btn-blue{
  color: blue;
}

.btn-red{
  color: red;
}

section ul:nth-of-type(3) a:hover{
  color: black !important;
}

span{
  color: var(--colorOrange);
  font-weight: bold;
  text-decoration: underline;
}