@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
}

:root {
  --color-hover: rgb(91, 32, 17);
  --color-hover-grey: rgb(147, 147, 147);
  --color-a-default: rgb(33, 33, 33);
  --bgc-agregarAlCarrito: #ff9a3b;
  --bgc-body-default: rgb(252, 248, 248);
  --bgc-card-default: rgb(252, 230, 230);
  --bgc-tables-default: rgb(253, 250, 250);
  --bgc-tables-tr-hover: rgb(250, 236, 236);
  --bgc-color-brown-default: rgb(91, 32, 17);
  --bgc-color-brown-hover: rgb(65, 21, 11);
}

input {
  height: 2rem;
}

a {
  text-decoration: none;
}

button {
  padding: 8px;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  border: none;
}
button.btn-icon {
  background-color: transparent;
}
button:hover {
  color: var(--color-hover);
}
button.btn__enviarCarrito {
  color: white;
  position: relative;
  display: inline-block;
  width: 7rem;
  border-radius: 2px;
  background-color: var(--bgc-color-brown-default);
  transition-property: width border-radius;
  transition-duration: 0.25s;
  transition-delay: 0.5s;
}
button.btn__enviarCarrito > * {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  transition: opacity 0.25s;
}
button.btn__enviarCarrito:focus {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

table {
  overflow: scroll;
}

html {
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 4rem;
  font-weight: bolder;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1rem;
}

a,
label,
input,
p {
  font-size: 1rem;
  color: var(--color-a-default);
}

/***********************************************
            HEADER
**********************************************/
.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 20vh;
}
.main-header__logo-container {
  background-color: var(--color-hover);
  width: 15em;
}

#menu {
  display: none;
}
#menu:checked + .nav-bar {
  display: block;
}
#menu:checked ~ .search-bar .menu-toggle__label {
  background-color: yellow;
}

/***********************************************
            NAV BAR
**********************************************/
.nav-bar {
  display: flex;
  align-items: center;
}
.nav-bar__nav-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
}
@media (max-width: 768px) {
  .nav-bar__nav-list {
    flex-direction: column;
  }
}
.nav-bar__nav-item {
  text-align: center;
}
.nav-bar__nav-link {
  display: block;
  padding: 1em 2em;
  text-decoration: none;
  font-weight: 600;
}
.nav-bar__nav-link:hover {
  color: var(--color-hover);
}
.nav-bar__nav-link:focus {
  color: var(--color-hover);
}
@media (max-width: 768px) {
  .nav-bar {
    display: none;
  }
}

/***********************************************
            SEARCH BAR
**********************************************/
.search-bar {
  display: flex;
  justify-content: space-evenly;
  gap: 4rem;
}
.search-bar__logo-container {
  background-color: bisque;
  padding-right: 5em;
}
.search-bar__form-container {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar__form-container-icon {
  display: flex;
  padding-right: 5rem;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}
.search-bar__form-container-icon:hover {
  color: var(--color-hover);
}
.search-bar__form-container-icon span {
  padding: 1rem;
}
.search-bar__form-container-icon span:hover {
  padding: 1rem;
  border-radius: 50%;
  outline: 1px solid var(--color-hover);
}
.search-bar__form-label {
  display: flex;
  align-items: center;
}
.search-bar__form-label .material-symbols-outlined {
  color: var(--color-hover-grey);
  cursor: pointer;
  background-color: var(--color-hover);
  height: 2rem;
  width: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px 0 0 2px;
  color: white;
}
.search-bar__form-search {
  width: 100%;
  padding: 0.4em 0;
  text-indent: 0.5rem;
  border-radius: 0 2px 2px 0;
  border: 1px solid var(--color-hover-grey);
}
.search-bar__form-search:hover {
  border: 1px solid var(--color-hover);
}
.search-bar__form-search:focus {
  border: 1px solid var(--color-hover);
}
.search-bar__form-search:focus-visible {
  border: 1px solid var(--color-hover);
  outline: 0;
}
.search-bar__form-submit {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-hover);
  margin-left: 8px;
}

/*********************************************
                MENU TOGGLE
**********************************************/
.menu-toggle {
  display: none;
  flex: 0 0 3em;
  position: relative;
  cursor: pointer;
}
.menu-toggle__label {
  display: block;
  background-color: black;
  height: 100%;
}
.menu-toggle__top-bread, .menu-toggle__meat, .menu-toggle__bottom-bread {
  display: block;
  height: 0.2em;
  position: absolute;
  left: 0.5em;
  right: 0.5em;
}
.menu-toggle__top-bread {
  top: 0.8em;
}
.menu-toggle__meat {
  top: 50%;
  margin-top: -0.1em;
}
.menu-toggle__bottom-bread {
  bottom: 0.8em;
}
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
}

.section-cards {
  background-color: var(--bgc-body-default);
  padding: 1em;
  height: 80vh;
}
.section-cards__header {
  padding: 2rem 0 2rem 0;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

.card {
  border: 1px solid var(--color-hover);
  border-collapse: collapse;
  flex-grow: 1;
  width: auto;
  overflow: hidden;
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 7rem;
  background-color: var(--bgc-card-default);
}
.card:hover {
  transform: scale(1.01);
}
.card__ver-producto {
  display: inline-flex;
  padding: 1rem 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 8px;
  outline: 1px solid var(--color-hover);
}
.card__ver-producto:hover {
  background-color: var(--bgc-agregarAlCarrito);
}
.card__image-container {
  height: 200px;
  overflow: hidden;
}
.card__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.2s;
}
.card__content {
  padding: 1em;
}
.card__content .card__heading {
  font-size: 24px;
}
@media (min-width: 426px) and (max-width: 768px) {
  .card {
    min-width: 400px;
    max-width: 500px;
    height: 200px;
  }
  .card__article {
    display: flex;
  }
  .card .card__image-container {
    width: 40%;
    -webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
  }
  .card:hover .card__image-container, .card:focus .card__image-container {
    width: 40%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

.container-alta {
  padding: 10px;
  /* DROP AREA */
}
.container-alta h1, .container-alta h2 {
  color: blue;
}
.container-alta div, .container-alta input {
  width: 300px;
  display: block;
  margin-bottom: 1px;
  padding: 5px;
}
.container-alta button {
  display: block;
  margin-top: 20px;
  width: 80px;
  background-color: blue;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}
.container-alta button:hover {
  background-color: blueviolet;
}
.container-alta button:disabled {
  background-color: red;
}
.container-alta input[type=checkbox] {
  display: inline;
  width: 15px;
  height: 15px;
  margin-top: 10px;
}
.container-alta form .mensaje-validacion {
  border: 1px solid crimson;
  background-color: gold;
  color: darkred;
  margin: 2px 0 10px 0;
  border-radius: 5px;
  display: none;
}
.container-alta table, .container-alta th, .container-alta td {
  border: 1px solid black;
  border-collapse: collapse;
}
.container-alta table {
  width: 90%;
}
.container-alta #listado-productos {
  width: 100%;
}
.container-alta #drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 300px;
  margin: 25px 0;
  padding: 20px;
}
.container-alta .button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border-radius: 1px solid #ccc;
}
.container-alta #foto {
  display: none;
}
.container-alta #gallery img {
  width: 100px;
  margin-top: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.container-alta #drop-area.highlight {
  border-color: purple;
}

.section-carrito {
  display: none;
  position: absolute;
  background-color: #f1f2f3;
  z-index: 10;
  min-width: 30vw;
  height: 100vh;
  top: 0;
  box-shadow: 0.3em 0.3em 10em 0.3em rgb(0, 0, 0);
}
.section-carrito--visible {
  display: block;
  transition: all 0.5s ease;
}

.active {
  font-weight: bold;
}

.sidebar__icon-exit {
  display: block;
  text-align: right;
  height: 10%;
}
.sidebar__icon-exit span {
  padding: 2rem;
}
.sidebar__carrito-title {
  height: 10%;
  margin-left: 2rem;
}
.sidebar__carrito-container-fluid {
  height: 65%;
  overflow-y: scroll;
}
.sidebar__carrito-container {
  padding: 1rem;
  border-collapse: collapse;
}
.sidebar__carrito-container tbody {
  text-align: center;
}
.sidebar__carrito-container tbody tr {
  border-bottom: 1px solid var(--color-hover);
}
.sidebar__carrito-container tbody tr:first-of-type {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.sidebar__carrito-container tbody tr th {
  padding: 1rem;
  border-bottom: 2px solid var(--color-hover);
}
.sidebar__carrito-container tbody tr td {
  padding: 4px;
}
.sidebar__carrito-container tbody tr:hover {
  background-color: var(--bgc-tables-tr-hover);
}
.sidebar__carrito-comprar {
  height: 15%;
  border-top: 1px solid var(--color-hover);
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bgc-tables-default);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bgc-color-brown-default);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--bgc-color-brown-hover);
}/*# sourceMappingURL=main.css.map */