.container-alta {
  padding: 2rem;

  &-form__container {
    margin-top: 2rem;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    & div,
    input {
      width: 300px;
     
      margin-bottom: 1px;
      padding: 5px;
    }
  }

  button {
    display: block;
    // width: 80px;
    background-color: var(--color-hover);
    color: white;
    cursor: pointer;
    margin: 16px 0;
    padding: 8px;
    border-radius: 4px;
    border: none;

    &:hover {
      background-color: blueviolet;
    }

    &:disabled {
      background-color: red;
    }
  }

  input[type="checkbox"] {
    display: inline;
    width: 15px;
    height: 15px;
    margin-top: 10px;
  }

  form div {
    border: 1px solid crimson;
    background-color: gold;
    color: darkred;
    margin: 2px 0 10px 0;
    border-radius: 5px;
    display: none;
  }

  table {
    margin: 2rem 0 0 0 ;
    border: 1px solid var(--color-hover);
    border-collapse: collapse;
    width: 100%;
    text-align: left;


    & tr {
      border: 1px solid var(--color-hover);

      & td {
        padding: 8px;
        // max-width: 100px;   
         text-overflow: ellipsis;
         overflow: hidden;
      }
    }

    & tr:first-of-type td {
        font-weight: 600;
        text-transform: uppercase;
      padding: 1rem;
    }
  }
}
