.sidebar {
  &__icon-exit {
    display: block;
    text-align: right;
    height: 10%;

    span {
      padding: 2rem;
    }
  }

  &__carrito-title {
    height: 10%;
    margin-left: 2rem;
  }

  &__carrito-container-fluid {
    height: 65%;
    overflow-y: scroll;
  }

  &__carrito-container {
    padding: 1rem;
    border-collapse: collapse;

    & tbody {
      text-align: center;

      & tr {
        border-bottom: 1px solid var(--color-hover);
        // background-color: var(--bgc-tables-default);

        &:first-of-type {
          position: sticky;
          top: 0;
        }

        th {
          padding: 1rem;
          border-bottom: 2px solid var(--color-hover);

        }

        td {
          padding: 4px;
        }

        &:hover {
          background-color: var(--bgc-tables-tr-hover);
        }
      }
    }
  }

  &__carrito-comprar {
    height: 15%;
    border-top: 1px solid var(--color-hover);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

//SCROLLBAR
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bgc-tables-default);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bgc-color-brown-default);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--bgc-color-brown-hover);
}