.container-alta{
    padding: 10px;

    h1, h2{
        color: blue;
        font-size: 32px;
    }

    div, input{
        width: 300px;
        display: block;
        margin-bottom: 1px;
        padding: 5px;
    }

    button{
        display:block;
        margin-top: 20px;
        width: 80px;
        background-color: blue;
        color: white;
        cursor: pointer;
        margin-bottom: 10px;

        &:hover{
        background-color: blueviolet;
        
        }
    }

    input[type='checkbox']{
        display: inline;
        width: 15px;
        height: 15px;
        margin-top: 10px;
    }

    form div{
        border: 1px solid crimson;
        background-color: gold;
        color:  darkred;
        margin: 2px 0 10px 0;
        border-radius: 5px;
        display: none;
    }

    table, th, td{
        border: 1px solid black;
        border-collapse: collapse;
    }

    table{
        width: 90%;
    }

    #listadoProductos{
        width: 100%;
    }
}