.container-alta{
    padding: 10px;

    // h1, h2{
    //     color: blue;
    //     font-size: 32px;
    // }

    &-form__container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);

       & div, input{
            width: 300px;
            display: inline;
            margin-bottom: 1px;
            padding: 5px;
        }

    }
    
    

    button{
        display:block;
        width: 80px;
        background-color: var(--color-hover);
        color: white;
        cursor: pointer;
        margin: 10px;
        padding: 8px;
        border-radius: 4px;
        border: none;

        &:hover{
        background-color: blueviolet;

        
        }

        &:disabled{
            background-color: red;
            }
    }

    input[type='checkbox']{
        display: inline;
        width: 15px;
        height: 15px;
        margin-top: 10px;
    }

    form div{
        border: 1px solid crimson;
        background-color: gold;
        color:  darkred;
        margin: 2px 0 10px 0;
        border-radius: 5px;
        display: none;
    }

    table, th, td{
        border: 1px solid black;
        border-collapse: collapse;
    }

    table{
        width: 90%;
    }

    #listadoProductos{
        width: 100%;
    }
}