@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@font-face{
    font-family: "Retroking";
    src: url(../fonts/Retroking.ttf) format("truetype");
}

:root{
    --color-red:#DC5B48;
    --color-white:#efeae2;
    --color-blue: #5CA8A4;
    --color-yellow: #f3e483;
    --font-size-medium: 14px;
    --font-size-big: 56px;
    --font-family: "Retroking";
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-yellow);
   
}

.img-icon, hr, .grid-a{
    display: none;
}

/* HEADER */

header{
    height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: var(--font-family);
    font-size: var(--font-size-big);
}

/* SECTION */

section{
    height: 100vh;
    position: relative;
    display: flex;
      justify-content: center;
}


.television{
    position: absolute;
    width: 80rem;
    /* z-index: 1; */
}

.grid-area{
    position: relative;
   top: 150px;
   width: 700px;
   left: 50px;
   right: -50px;

}
.grid-fieldset{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3,1fr);
    /* column-gap: 15px;  */
    /* width: 50%; */
}

fieldset{
    background-color: var(--color-yellow);
    width: 20rem;
    border: double;
    border-radius: 24px;    
    border-color: var(--color-red);
    
}


legend{
background-color: var(--color-red);
margin: 0 24px;
padding: 8px 16px;
border-radius: 4px;
font-family: var(--font-family);
color: var(--color-white);
}

.grid-b{
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid-c{
    grid-row-start: 1;
    grid-row-end: 2;

}


.grid-d{
    grid-row-start: 2;
    grid-row-end: 3;
}

.grid-e{
    grid-row-start: 3;
    grid-row-end: 4;
}

.grid-f{
    grid-row-start: 3;
    grid-row-end:4;
}