*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root {
    --color-hover: rgb(91, 32, 17);
    --color-hover-grey:  rgb(147, 147, 147);
    --color-a-default: rgb(33, 33, 33);
}