{{#if listado.length}}
{{#each listado}}
<a href="https://sony.com">
    <article class="card__article" class="card">
        <div class="card__image-container">
            <img class="card__image" src="{image}" alt="{heading}" />
        </div>
        <div class="card__content">
            <h2 class="card__heading">{heading}</h2>
            <div class="card__description">
                <p>{description}</p>
            </div>
        </div>
    </article>
</a>
{{/each}}
{{else}}
<h2>No se encontraron productos</h2>
{{/if}}