<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ejercicio 11</title>
  </head>
  <body>
    <h1>Vení al gym</h1>
    <form action="">
      <fieldset>
        <legend>Datos personales</legend>
        <div>
          <label for="">Nombre: *</label>
          <input type="text" />
        </div>
        <div>
          <label for="">Apellido: *</label>
          <input type="text" />
        </div>
        <div>
          <label for="">Documento: *</label>
          <input type="text" name="" />
        </div>
        <div>
          <label for="">Nacionalidad: *</label>
          <select name="" id="">
            <option value="uruguay">Uruguay</option>
            <option value=""></option>
            <option value=""></option>
          </select>
        </div>

        <label for="">Contanos un poco de vos...</label>
        <textarea name="" id="" cols="30" rows="2"></textarea>
        <hr class="noshade">
        <label for="">Sexo *</label>
        <input type="radio" name="femenino" id="" />
        <label for="">Femenino</label>
        <input type="radio" name="mpasculino" id="" />
        <label for="" >Masculino</label>
        <input type="radio" name="otros" id="" />
        <label for="">Otros</label>
      </fieldset>
      <fieldset>
        <legend>Datos de contacto</legend>
        <label for="">Teléfono</label>
        <input type="tel" name="" id="" />
        <label for="">Dirección de correo electrónico *</label>
        <input type="email" name="" id="" />
      </fieldset>
      <fieldset>
        <legend>Actividades</legend>
        <p>Por favor, indica cuáles actividades te interesan</p>
        <label for="">Sede Palermo</label>
        <input type="checkbox" name="" id="" />
        <label for="">Basquet</label>
        <input type="checkbox" name="" id="" />
        <label for="">Boxeo</label>
        <input type="checkbox" name="" id="" />
        <label for="">Fútbol</label>
        <input type="checkbox" name="" id="" />
        <label for="">Tenis</label>
        <label for="">Sede Rosario</label>
        <input type="checkbox" name="" id="" />
        <label for="">Basquet</label>
        <input type="checkbox" name="" id="" />
        <label for="">Boxeo</label>
        <input type="checkbox" name="" id="" />
        <label for="">Fútbol</label>
        <input type="checkbox" name="" id="" />
        <label for="">Tenis</label>
      </fieldset>
      <input type="checkbox" />
      <label for="">Acepto las condiciones *</label>
      <input type="checkbox" />
      <label for="">Deseo recibir novedades</label>
      <p>*: campo obligatorio</p>
      <button>Iniciar afiliación</button>
      <button>Restablecer</button>
    </form>
  </body>
</html>
