<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="stylesheet" href="../css/default.css" /> -->
  <!-- <link rel="stylesheet" href="../css/futurista.css"> -->
  <link rel="stylesheet" href="../css/retro.css">
  <title>Ejercicio 11</title>
</head>

<body>
  <main>
    <!-- header -->

    <header>
      
        <div class="form-title-top"></div>
        <h1>
          Vení al gym
          <img class="img-icon" src="https://cdn.jsdelivr.net/gh/googlei18n/noto-emoji/svg/emoji_u1f4aa.svg" alt="emoji fuerza"
            style="width: 38px" />
        </h1>
        <div class="form-title-bottom"></div>
 
    </header>


 
    <section>

      <img src="../img/television.png" alt="television" class="television">

      <form action="" method="post" class="grid-area grid-fieldset">

        <img src="../img/animation_500_l5r21meu.gif" alt="" class="grid-a">


        <!-- personals details -->
        <fieldset class="grid-b d-flex">
          <legend>
            <img class="img-icon" src="https://cdn.jsdelivr.net/gh/googlei18n/noto-emoji/svg/emoji_u1f64b_200d_2642.svg"
              alt="emoji persona" />
            <strong>Datos personales</strong>
            <img class="img-icon" src="https://cdn.jsdelivr.net/gh/googlei18n/noto-emoji/svg/emoji_u1f440.svg" alt="emoji ojos" />
          </legend>

          <div class="col-center ">
            <label for="nombre"> Nombre: *</label>
            <input id="nombre" class="input--contenido" type="text" name="nombre" required pattern="[a-zA-Z ]{2,}"
              maxlength="30" title="Inserte su nombre" />
          </div>

          <div class="col-center">
            <label for="apellido">Apellido: *</label>
            <input id="apellido" class="input--contenido" type="text" name="apellido" required pattern="[a-zA-Z ]{2,}"
              maxlength="50" title="Inserte su apellido" />
          </div>

          <div class="col-center">
            <label for="documento">Documento: *</label>
            <input id="documento" class="input--contenido" type="text" name="documento" required
              title="Inserte su documento" />
          </div>

          <div class="col-center">
            <label for="nacionalidad">Nacionalidad: *</label>
            <select required id="nacionalidad" class="input--contenido" name="nacionalidad"
              title="Inserte su nacionalidad">
              <option hidden value="Seleccionar">Seleccionar</option>
              <option value="uruguay">Uruguay</option>
              <option value="argentina">Argentina</option>
              <option value="brasil">Brasil</option>
            </select>
          </div>

          <div class="col-center">
            <label for="biografia">Contanos un poco de vos...</label>
            <textarea name="biografia" id="biografia" cols="60" rows="4" title="Contanos sobre vos"></textarea>
          </div>

          <div class="col-center">
            <label for="sexo">Sexo *</label>
            <div class="row-3">
              <div class="checkbox">
                <input type="radio" name="sexo" id="femenino" />
                <label for="femenino">Femenino</label>
              </div>
              <div class="checkbox">
                <input type="radio" name="sexo" id="masculino" />
                <label for="masculino">Masculino</label>
              </div>
              <div class="checkbox">
                <input type="radio" name="sexo" id="otro" />
                <label for="otro">Otros</label>
              </div>
            </div>
          </div>
        </fieldset>

        <!-- separation -->
        <hr />

        <!-- contact -->
        <fieldset class="grid-c d-flex">
          <legend>
            <img class="img-icon" src="https://cdn.jsdelivr.net/gh/googlei18n/noto-emoji/svg/emoji_u1f4f1.svg" alt="emoji celular" />
            <strong>Datos de contacto </strong><img class="img-icon"
              src="https://cdnjs.cloudflare.com/ajax/libs/twemoji/14.0.0/svg/2709.svg" alt="emoji email" />
          </legend>

          <div class="col-center">
            <label for="">Teléfono</label>
            <input class="input--contenido" type="tel" name="telefono" id="telefono"
              placeholder="Código de área y número" pattern="[0-9]{8,15}" minlength="9" maxlength="15"
              title="Utilizar solo números, entre 8 y 15 digitos en total" />
          </div>

          <div class="col-center">
            <label for="">Dirección de correo electrónico *</label>
            <input class="input--contenido" type="email" id="mail" name="mail" placeholder="Ej: mail@gmail.com"
              title="Formato del mail: nombre@dominio.com" required />
          </div>
        </fieldset>

        <!-- separation -->
        <hr />
 
        <!-- activities -->
        <fieldset class="grid-d d-flex">
          <legend>
            <img class="img-icon" src="https://cdn.jsdelivr.net/gh/googlei18n/noto-emoji/svg/emoji_u1f6b4_200d_2642.svg"
              alt="emoji persona en bicicleta" />
            <strong>Actividades</strong>
            <img class="img-icon" src="https://cdn.jsdelivr.net/gh/googlei18n/noto-emoji/svg/emoji_u1f938_200d_2640.svg"
              alt="emoji persona haciendo ejercicio" />
          </legend>

          <div class="col-start">
            <p class="ms">
              <small>Por favor, indica cuáles actividades te interesan</small>
            </p>

            <label for="">Sede Palermo</label>
            <div class="mb">
              <input type="checkbox" name="" id="" />
              <label for="">Basquet</label>
              <input type="checkbox" name="" id="" />
              <label for="">Boxeo</label>
              <input type="checkbox" name="" id="" />
              <label for="">Fútbol</label>
              <input type="checkbox" name="" id="" />
              <label for="">Tenis</label>
            </div>
            <label for="">Sede Rosario</label>
            <div class="mb">
              <input type="checkbox" name="" id="" />
              <label for="">Basquet</label>
              <input type="checkbox" name="" id="" />
              <label for="">Boxeo</label>
              <input type="checkbox" name="" id="" />
              <label for="">Fútbol</label>
              <input type="checkbox" name="" id="" />
              <label for="">Tenis</label>
            </div>
          </div>
        </fieldset>

        <!-- conditions -->
        <div class="separation--div text-color grid-e">
          <div class="separation-item">
            <input type="checkbox" />
            <label for="">Acepto las condiciones *</label>
          </div>

          <div class="separation-item">
            <input type="checkbox" />
            <label for="">Deseo recibir novedades</label>
          </div>
          <p class="separation-item">*: campo obligatorio</p>
        </div>

        <div class="row-btn grid-f">
          <button type="submit" id="submit">Iniciar afiliación</buttonn>
            <button type="reset" id="reset">Restablecer</button>
        </div>
      </form>
    </section>
  </main>

</body>

</html>