.section-cards {
    background-color: var(--bgc-body-default);
    padding: 1em;
    height: 80vh;

    &__header {
        padding: 2rem 0 2rem 0 ;
    }
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    // flex-wrap: wrap;
    gap: 1em;
    // height: 300px;
    // overflow: scroll;
    // justify-content: center;

    // @media (min-width: 1200px){
    //     & {
    //         gap: 2em;
    //     }
    // }

 
}