.section-cards {
    background-color: #f1f2f3;
    padding: 1em;

    &__header {
        padding: 0 0 2em 0 ;
    }
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    // flex-wrap: wrap;
    gap: 1em;
    // justify-content: center;

    // @media (min-width: 1200px){
    //     & {
    //         gap: 2em;
    //     }
    // }

 
}